[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
prospector = {extras = ["with_everything"],version = "*"}
black = "*"

[packages]
click = "*"
click-pathlib = "*"
loguru = "*"
tqdm = "*"

[requires]
python_version = "3.7"
